@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

.profileRight {
  background-color: $brand-yellow;
}

.profileLeft {
  background-color: $white;
}

.profileGroup {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  &.profile1 {
    .profileImage {
      background: url("/dist/assets/img/lee_min.jpg");
      background-size: cover;
      background-position: 50%;
      @include media-md {
        margin-left: 0;
        align-self: end;
      }
    }
  }
  &.profile2 {
    .profileImage {
      background: url("/dist/assets/img/rhonda_min.jpg");
      background-size: cover;
      background-position: 50%;
      @include media-md {
        margin-right: 0;
        align-self: end;
      }
    }
    @include media-md {
      flex-direction: row-reverse;
    }
  }
  &.profile3 {
    .profileImage {
      background: url("/dist/assets/img/daniel_min.jpg");
      background-size: cover;
      background-position: 50%;
      @include media-md {
        margin-left: 0;
        align-self: end;
      }
    }
  }
  // Media queries for profile group
  @include media-md {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}



.profileImage {
  margin-bottom: 1rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 5px $brand-darkBlue;
  border: 4px solid $white;
  margin-left: auto;
  margin-right: auto;
}

.profileDescription {
  h3 {
    padding-bottom: 1rem;
    font-family: "Yellowtail", cursive;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 1.14px;
    text-align: center;
    color: $brand-darkBlue;
    @include media-md {
      text-align: left;
    }
  }
  p {
    margin-bottom: 1rem;
    font-family: "Khula";
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 1rem;
    color: $brand-darkBlue;
  }

  // Media queries for profile description
  @include media-md {
    width: 65%;
  }
}
