.productsCarouselWrapper,
.testimonialsCarouselWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  h2 {
    width: 100%;
    font-family: "Khula";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.02px;
    line-height: 20px;
    text-align: center;
    color: $brand-lightBlue;
  }
}

.productsCarouselWrapper {
  background-color: $brand-yellow;
  h2 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-transform: uppercase;
  }
}

.prodCont {
  @include media-ie {
    margin-left: 0;
  }
}

.testimonialsCarouselWrapper {
  margin-bottom: 75px;
  h2 {
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 30px;
    letter-spacing: 1.19pt;
    line-height: 1.25rem;
  }
  .testimonialText {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    font-family: "Khula";
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.19pt;
    line-height: 20px;
    text-align: center;
    color: $brand-lightBlue;
    text-transform: uppercase;
  }
  .quoteLeft {
    font-family: "Yellowtail";
    font-size: 3.5rem;
    float: left;
    padding-left: 0;
    color: $brand-darkBlue;
  }
  .quoteRight {
    font-family: "Yellowtail";
    font-size: 3.5rem;
    float: right;
    padding-right: 5%;
    color: $brand-darkBlue;
  }
}

.productsCarousel {
  width: 100%;
  display: flex;
  align-items: center;
  .slide {
    width: 200px;
    text-align: center;
    p {
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 200px;
      font-family: "Khula";
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.035rem;
      line-height: 1.25rem;
      color: $brand-lightBlue;
      text-transform: uppercase;
    }
  }
}

.slick-prev-arrow,
.slick-next-arrow {
  padding-bottom: 50px;
}

.testimonialsCarousel {
  width: 100%;
  .slide {
    p {
      margin: 0 auto;
      padding-top: 10px;
      width: 80%;
      font-family: "Khula";
      font-weight: 400;
      letter-spacing: 0.025rem;
      line-height: 1.2;
      text-align: center;
      color: $brand-darkBlue;
    }
    .testimonialName {
      padding-top: 30px;
      padding-bottom: 20px;
      font-weight: bold;
      letter-spacing: 0.05rem;
      text-align: right;
      color: $brand-lightBlue;
      text-transform: uppercase;
    }
  }
}

.slick-arrow {
  color: $brand-lightBlue;
  font-size: 2.5rem;
  cursor: pointer;
}

.slick-dots {
  li {
    &:not(:nth-of-type(4)) {
      padding-right: 50px;
    }
    button {
      &:before {
        font-size: 0.55rem;
        color: $brand-lightBlue;
      }
    }
    &.slick-active button:before {
      color: $brand-lightBlue;
    }
  }
}

.slick-prev {
  margin-left: 40px;
}

.slick-next {
  margin-right: 40px;
}

.product-carousel-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid $brand-darkBlue;
  &.savoury-breads {
    background-image: url("../assets/img/Optimized-bread-min.jpg");
    background-size: cover;
  }
  &.pastries {
    background-image: url("../assets/img/Optimized-pastries-min.jpg");
    background-size: cover;
  }
  &.cakes {
    background-image: url("../assets/img/Optimized-cakes-min.jpg");
    background-size: cover;
    background-position: 65%;
  }
  &.birthday-cakes {
    background-image: url("../assets/img/Optimized-birthday-min.jpg");
    background-size: cover;
    background-position: 50%;
  }
  &.wedding-cakes {
    background-image: url("../assets/img/Optimized-wedding-min.jpg");
    background-size: cover;
    background-position: 50% 73%;
  }
  &.sandwiches {
    background-image: url("../assets/img/Optimized-sandwiches-min.jpg");
    background-size: cover;
    background-position: 50%;
  }
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
