// Base hero styles
.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 74px);
    @include media-md {
        height: 350px;
    }
}

// Different hero banners
.heroHome {
    background: linear-gradient(0deg, $brand-darkBlue 0%, #ffffff44 100%), url("../assets/img/Optimized-hero-bread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    @include media-ie {
        background: url("../assets/img/Optimized-hero-bread.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 90%;
    }
    @include media-md {
        height: 350px;
        background-position: 50% 42%;
    }
    @include media-lg {
        background: url("../assets/img/Optimized-hero-bread.jpg");
        background-position: 44vw 0%;
        background-size: 65%;
        background-repeat: repeat-x;
    }
    @include media-xl {
        background-position: 42vw 15%;
    }
    @include media-xxl {
        background-size: 50%;
        background-position: 51vw 28%;
    }
}

.heroAbout {
    background: linear-gradient(0deg, $brand-darkBlue 0%, #ffffff44 100%), url("/dist/assets/img/Optimized-staff-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    @include media-ie {
        background: url("/dist/assets/img/Optimized-staff-lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 90%;
    }
    @include media-lg {
        background: url("/dist/assets/img/Optimized-staff-lg.jpg");
        background-size: 60%;
        background-position: 110% 80%;
    }
    @include media-xl {
        background: url("/dist/assets/img/Optimized-staff-lg.jpg");
        background-size: 50%;
        background-position: 100% 80%;
    }
}

.heroProducts {
    background: linear-gradient(0deg, $brand-darkBlue 0%, #ffffff44 100%), url("/dist/assets/img/Optimized-bakery-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    @include media-ie {
        background:url("/dist/assets/img/Optimized-bakery-lg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;   
    }
    @include media-lg {
        background: url("/dist/assets/img/Optimized-bakery-lg.jpg");
        background-size: 50%;
        background-position: 100% 80%;
    }
}

.heroTest {
    background: linear-gradient(0deg, $brand-darkBlue 0%, #ffffff44 100%), url("/dist/assets/img/Optimized-baker.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    @include media-ie {
        background: url("/dist/assets/img/Optimized-baker.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    @include media-lg {
        background: url("/dist/assets/img/Optimized-baker.jpeg");
        background-position: 120% 80%;
        background-size: 65%;
        background-repeat: repeat-x;
    }
    @include media-xl {
        background-position: 42vw 65%;
    }
    @include media-xxl {
        background-size: 50%;
        background-position: 51vw 58%;
    }
}


.heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        color: $white;
        font-size: 3.5rem;
        margin-top: -.5rem;
        width: 100%;
        @include media-sm {
            font-size: 4.5rem;
            margin-top: -.85rem;
        }
        @include media-lg {
            color: $brand-darkBlue;
            margin-top: -1.5rem;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
        width: 100%;
        @include media-lg {
            color: $brand-darkBlue;
            line-height: 1.75rem;
            letter-spacing: 0.12rem;
            width: 65%;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
        @include media-xl {
            margin-top: 1rem;
            margin-bottom: 2.5rem;;
            width: 45%;
        }
    }
    .btn {
        @include media-md {
            @include media-ie {
                margin-top: 1rem;
            }
        }
    }
    .btn:hover {
        color: $white;
        @include media-lg {
            color: $brand-darkBlue;
        }
    }
    @include media-xs {
        width: 90%;
        
    }
    @include media-lg {
        text-align: left;
        align-items: flex-start;
        justify-content: center;
    }
}

.heroCircle {
    display: none;
    background: url("../assets/img/circle.svg");
    background-repeat: no-repeat;
    background-size: 85%;
    height: 100%;
    width: 100%;
    background-position: 0% 50%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: -13%;
    @include media-lg {
        display: block;
    }
    @include media-xl {
        left: -25%;
    }
    @include media-ie {
        background: url("../assets/img/circle.png");
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }
}

.ie-colour {
    display: none;
    @include media-ie {
        display: block;
        width: 100%;
        height: 100%;
        background-color: fade-out($brand-darkBlue, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        @include media-lg {
            display: none;
        }
    }
}