.mainMenu {
  display: flex;
  align-items: center;
  width: 100%;
  color: $brand-yellow;
  background-color: $brand-lightBlue;
  @include media-md {
    height: 65px;
  }
}

.navWrapper {
  width: 100%;
}

.headerSmall {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include media-md {
    display: none;
  }
}

.headerBig {
  display: none;
  @include media-md {
    display: inline;
    width: 100%;
  }
}

.logo > a {
  font-family: "Yellowtail", cursive;
  margin: 15px 0;
  color: $brand-yellow;
  font-size: 2rem;
  font-weight: 400;
  display: block;
  transition: .3s ease transform;
  @include media-md {
    margin: 0px;
    font-size: 2rem;
    &:hover {
      transform: scale(1.05);
    }
  }
  @include media-lg {
    font-size: 2.2rem;
  }
}

.navBar {
  width: 100%;
  a {
    color: $brand-yellow;
    text-decoration: none;
    &:current {
      border-bottom: 3px solid $brand-orange;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      font-family: "Khula";
      font-weight: 700;
      font-size: .875rem;
      letter-spacing: 1.14px;
      line-height: 16px;
      margin-top: 0;
      margin-bottom: 0;
      // selecting the menu items without logo and phone
      &:nth-of-type(n+2) {
        &:not(#phoneIcon) {
          padding-top: .4rem;
          &:hover {
            padding-top: calc(.4rem + 2px);
            border-bottom: 2px solid $brand-orange;
          }
      }
    }
      @include media-xl {
        font-size: 1rem;
        line-height: 20px;
      }
    }
  }
}

#phoneIcon {
  a {
    // width: 20px;
    // height: 20px;
    i {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      color: $brand-orange;
      background-color: $brand-darkBlue;
      font-size: 1.6rem;
      padding-top: 1rem;
      text-align: center;
      transition: .3s ease background-color, color;
      &:hover {
        background-color: $brand-yellow;
        color: $brand-darkBlue;
      }
    }
  }
}

.hamburger-button {
  float: right;
  width: 40px;
  height: 40px;
  margin: 15px 0;
  border-radius: 5px;
  padding: 0;
  font-size: 0.75rem;
  color: $brand-lightBlue;
  background-color: $brand-yellow;
  border-color: transparent;
}

#nav-icon {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out, background-color 0s;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 63%;
  background: $brand-lightBlue;
  border-radius: 9px;
  opacity: 1;
  left: 7px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 12px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 19px;
}

#nav-icon span:nth-child(4) {
  top: 26px;
}

#nav-icon span:nth-child(5) {
  top: 35px;
  background-color: $brand-lightBlue;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

// Offset the main page content by the menu width.
.main {
  position: relative;
  top: 0;
  left: 0;
  &.open {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    left: -275px;
  }
}

// The main modal page with a class for toggling its display.
.menu-banner {
  display: none;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  &.open {
    display: flex;
  }
}

// The menu wrapper.
.menu-wrapper {
  padding: 30px 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  width: 275px;
  height: 100%;
  overflow-y: scroll;
  background-color: $brand-lightBlue;
  color: $brand-yellow;
  line-height: 1.4;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 10px 0;
      &:nth-child(n + 3):hover {
        border-bottom: 3px solid $brand-orange;
      }
    }
  }
  a {
    color: $brand-yellow;
    text-decoration: none;
  }
}
