/* ================================= 
  Variables
==================================== */

// brand colours
$brand-lightBlue: #52658f;
$brand-darkBlue: #333a56;
$brand-yellow: #f7f5e6;
$brand-orange: #f7882f;
$brand-grey: #A7B2C7;

// other colours
$white: #fff;
$black: #000;

// media query sizes
$xs-width: 575px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;