/* ================================= 
  Imports
==================================== */

@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

/* ================================= 
  Base Element Styles
==================================== */

* {
  // Include border and padding in total dimensions.
  box-sizing: border-box;
  // Removes auto margins added by browsers.
  margin: 0;
  // Fix for fonts appearing at the wrong weight in Chrome.
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 999em;
  border: 1px solid $brand-orange;
  padding: 18px 15px 15px 15px;
  width: 50%;
  font-family: 'Khula';
  font-weight: 700;
  letter-spacing: 1.19pt;
  text-transform: uppercase;
  background-color: $brand-orange;
  color: $white;
  transition: .3s ease all;
  cursor: pointer;
  &:hover {
      background-color: $white;
      color: tint($black, 25%);
  }
  &:focus {
      border: 1px solid $brand-darkBlue;
      background-color: $brand-darkBlue;
      color: $white;
  }
}

h1 {
  font-family: 'Yellowtail', script;
  color: $brand-darkBlue;
}

p {
  font-family: "Khula", sans-serif;
  color: $brand-darkBlue;
}

label {
  font-family: "Khula", sans-serif;
}