@import "partials/baseStyles";
@import "partials/menu";
@import "partials/footer";
@import "partials/hero";

// Hero Section

.hero {
    background: linear-gradient(0deg, $brand-darkBlue 0%, #ffffff44 100%), url("/dist/assets/img/Optimized-baker.jpeg");
    // @include media-md {
    //     height: 400px;
    // }
    @include media-lg {
        background: url("/dist/assets/img/Optimized-baker.jpeg");
        background-position: 44vw 0%;
        background-size: 65%;
        background-repeat: repeat-x;
    }
    @include media-xl {
        background-position: 42vw 15%;
    }
    @include media-xxl {
        background-size: 50%;
        background-position: 51vw 28%;
    }
}

.heroCircle {
    display: none;
    background: url("../assets/img/circle.svg");
    background-repeat: no-repeat;
    background-size: 85%;
    height: 100%;
    width: 100%;
    background-position: 0% 50%;
    position: absolute;
    top: 0;
    left: -18%;
    @include media-lg {
        display: block;
    }
    @include media-xl {
        left: -25%;
    }
    @include media-xxl {
        left: -20%;
    }
}

.heroText {
    h1 {
        @include media-sm {
            font-size: 3.5rem;
        }
        @include media-lg {
            width: 70%;
        }
        @include media-lg {
            width: 50%;
        }
    }
    h2 {
        @include media-xl {
            margin-bottom: 1.5rem;
        }
    }
}

// Card Section

.testimonialsCards {
    margin-top: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include media-md {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
}

.testCard {
    position: relative;
    background-color: $brand-yellow;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
    margin-bottom: 220px;
    &:nth-of-type(8) {
        margin-bottom: 75px;
    }
    @include media-sm {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    @include media-md {
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        &:nth-of-type(n+7) {
            margin-bottom: 75px;
        }
    }
    @include media-lg {
        max-width: 28%;
    }
    @include media-xl {
        max-width: 22%;
        margin-left: 0;
        margin-right: 0;
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(6),
        &:nth-of-type(7) {
            margin-left: 10px;
            margin-right: 10px;
        }
        &:nth-of-type(1),
        &:nth-of-type(5) {
            margin-right: 10px;
        }
        &:nth-of-type(4),
        &:nth-of-type(8) {
            margin-left: 10px;
        }
        &:nth-child(-n+4) {
            margin-bottom: 220px;
        }
        &:nth-child(n+5) {
            margin-bottom: 75px;
        }
    }
}

.testCardImg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid $white;
    position: absolute;
    top: -165px;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 0 0 5px $brand-darkBlue, 0 0 0 12px $brand-yellow ;
}

.card {
    &1 > .testCardImg {
        background: url("/dist/assets/img/Optimized-woman-1.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: 100% 70%;
    }
    &2 > .testCardImg {
        background: url("/dist/assets/img/Optimized-woman-2.jpeg");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: 44% 10%;
    }
    &3 > .testCardImg {
        background: url("/dist/assets/img/Optimized-woman-3.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
    &4 > .testCardImg {
        background: url("/dist/assets/img/Optimized-man-1.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 70%;
    }
    &5 > .testCardImg {
        background: url("/dist/assets/img/Optimized-woman-4.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
    &6 > .testCardImg {
        background: url("/dist/assets/img/Optimized-woman-5.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80%;
    }
    &7 > .testCardImg {
        background: url("/dist/assets/img/Optimized-man-2.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 30%;
    }
    &8 > .testCardImg {
        background: url("/dist/assets/img/Optimized-man-3.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 30%;
    }
}

.testCardText {
    h3 {
        font-family: "Yellowtail", cursive;
        font-size: 1.5rem;
        margin-top: 20px;
        padding-bottom: 15px;
        color: $brand-darkBlue;
        border-bottom: 2px solid $white;
    }
    p {
        padding-top: 15px;
        color: $brand-darkBlue;
    }
}